<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="/" class="back-to-home-button">Back to Home</a>
        <h1>Login</h1>
    </header>
    
    <main>
        <form id="loginForm" class="login-form">
            <label for="loginUsername">Username:</label>
            <input type="text" id="loginUsername" name="username" required>
            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="password" required>
            <button type="submit" class="login-button">Login</button>
        </form>
    </main>

    <script src="/static/script.js"></script>
</body>
</html>
